<%= semantic_form_for Chore.new, :remote => true do |f| %>
 <%= f.input :chore_type, :label => "Hey motha fuckas, I ", :include_blank => "did this chore", :required => false %>
<% end %>
<h2>Today's Chores:</h2>
<ul class="chores" id="todays_chores">
	<% if @chores.present? %>
		<%= render @chores %>
	<% else %>
		<p>No chores today. Be a hero!</p>
	<% end %>
</ul>

<h2>All Other Chores:</h2>
<ul class="chores">
	<%= render @old_chores %>
</ul>