<%= semantic_form_for Chore.new, :remote => true do |f| %>
 <%= f.input :chore_type, :label => "I", :include_blank => "did this chore"%>
<% end %>
<h2>Today's Chores:</h2>
<ul class="chores">
	<%= render @chores %>
</ul>

<h2>All Other Chores:</h2>
<ul class="chores">
	<%= render @old_chores %>
</ul>